<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="shortcut icon" href="#">
        <title>Super Mario Run | Ranklist</title>
    </head>

    <body>
        <div class="jumbotron">
            <center>
                <h1> SUPER MARIO RUN RANKLIST </h1>
                <h5 style="color:red;"> {{ UpdateMessage }} </h5>
                <a href="https://docs.google.com/document/d/1Ba8Xn9lKIpVhaFlHFL5nMeQhOKtuYfCD_DOAwJIlfwY/" class="btn btn-danger">Rull Book</a>
                <a href="https://forms.gle/dnxhCN7PUocWc5Qh9" class="btn btn-danger">Register</a>
                <br>
            </center>
        </div>
        <center>
            <h7> Questions solved is the count of questions, an individual has solved, having rating more than individual's rating </h7>
        </center>
        <br>
        <div class="container" style="max-height:600px;overflow-y:scroll;">
            <div class="table-responsive-md">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Name</th>
                            <th scope="col">Roll No</th>
                            <th scope="col">Codeforces Handle</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Questions Solved </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in details %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{ detail.0 }}</td>
                            <td>{{ detail.1 }}</td>
                            <td> <a href="https://codeforces.com/profile/{{ detail.2 }}" target="_blank">{{ detail.2 }}<a></td>
                            <td>{{ detail.4 }}</td>
                            <td>{{ detail.3 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>